#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Exemplo de estilo para o container dos toasts */
.ToastContainer {
  width: 320px;
}

/* Exemplo de estilo para um toast de sucesso */
.Toastify__toast--success {
  background-color: #4caf50;
  color: white;
}

/* Exemplo de estilo para um toast de erro */
.Toastify__toast--error {
  background-color: #f44336;
  color: white;
}

.disabled-button {
  pointer-events: none; /* Impede interações com o link */
  opacity: 0.5; /* Reduz a opacidade para indicar desabilitação */
  cursor: not-allowed; /* Muda o cursor para indicar que não é clicável */
}